body {
  padding:0;
  margin: 0;
  text-align:center;
  background-color:#1f2937;
}

/* Main Flex Container*/

.maincontainer {
    display:flex;
    flex-direction:column;
}
/*Header*/

.header {
    background-color: #1f2937;
    display:flex;
    align-items:center;
    justify-content: space-around;
}

.logo {
    font-size: 38px;
    color: slategrey;
    align-self: center;
    padding-left: 20px;
}

.links {
    display: inline-flex;
    align-self: flex-end;
    flex-grow: 1;
    max-width: 400px;
    justify-content: space-between;
    font-size: 19px;
    color: white;
    padding-right: 20px;
} 

a,
a:visited,
a:active,
a:focus {
text-decoration: none;
color: white;
}

a:hover {
    color: green;
}



/* First Content Holder under header*/
.topcontent {
    background-color: #1f2937;
    display:flex;
    flex-grow:0; 
    align-items: center;
    justify-content: center;
    padding-top:75px;
    padding-bottom: 75px;
    padding-left:150px;
    padding-right: 150px;

}

.topimage {
   height:350px;
   width: 500px;
}




.toptext {
    flex-grow: 0;
    flex-shrnk: 0;
    margin-bottom: 1em;
    padding-right:15px;
}

.mainline {
    font-size: 48px;
    font-weight:bold;
    text-decoration:none;
    color:white;
    text-align: left;
}

.subtext{
    font-size: 18px;
    font-style:#e5e7eb;
    color:white;
    text-align:left;
}

.odenbutton {
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-top: 1em;
}



.secondcontent {
    text-align:center;
    display:flex;
    flex-direction:column;
   
    padding: 45px;
    background-color:white;
    padding-left:180px;
    padding-right: 180px;
}

.secondtext {
    align-self:  center;
    padding: 15px;
    font-size: 36px;
    font-weight: bold;
}

.pictures {
    display:flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
}

.animepic {
    display:flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    
}

.anime {
    border: 6px solid blue;
    border-radius: 20px;
}



.thirdcontent {
    padding: 100px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: #1f2937;
    font-weight: lighter;
    font-style: italic;
}

.quotetext {
    padding-left: 50px;
    padding-right: 50px;
}

.authortext {
    align-self: flex-end;
}

.fourthcontent {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 75px;
    padding-left:150px;
    padding-right:150px;
    background-color:white;
}

.buttonframe {
    display: flex;
    color:white;
    align-items:center;
    justify-content:space-between;
    min-width:550px;
    height: 150px;
    align-items: center;
    background-color: #3882f6;
    border-radius:8px;
    padding-left: 75px;
    padding-right: 75px;
}

.signup {
    color: white;
    background: #3882f6;
    border: solid white 2px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 8px;
}

.footer {
    display: flex;
    color: white;
    align-content: center;
    justify-content: center;
    padding-bottom: 30px;
    padding-top:30px;
}
